@{
    ViewData["page_title_data_lang"] = "Project Details";
    ViewData["ViewName"] = "Certificate";
    Layout = "~/Views/Shared/ProjectDetailsLayout.cshtml";
    ViewData["Controller"] = "ProjectDetails";
}

<div class="row g-3 box-of-inputs">
    <div class="content-header mt-0 mb-1">
        <h6 class="mb-0" data-lang="The Approvals of the Competent Authorities"></h6>
    </div>
    <div class="col-sm-8">
        <label class="form-label" for="p-details-certificate-customs-office-approval" data-lang="Customs Office Approval"></label>
        <input type="text" id="p-details-certificate-customs-office-approval" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-4">
        <label class="form-label" for="p-details-certificate-customs-office-approval-date" data-lang="Approval Date"></label>
        <input type="text" id="p-details-certificate-customs-office-approval-date" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-8">
        <label class="form-label" for="p-details-certificate-trade-and-industry-office-approval" data-lang="Trade and Industry Office Approval"></label>
        <input type="text" id="p-details-certificate-trade-and-industry-office-approval" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-4">
        <label class="form-label" for="p-details-certificate-trade-and-industry-office-approval-date" data-lang="Approval Date"></label>
        <input type="text" id="p-details-certificate-trade-and-industry-office-approval-date" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-8">
        <label class="form-label" for="p-details-certificate-environment-office-approval" data-lang="Environment Office Approval"></label>
        <input type="text" id="p-details-certificate-environment-office-approval" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-4">
        <label class="form-label" for="p-details-certificate-environment-office-approval-date" data-lang="Approval Date"></label>
        <input type="text" id="p-details-certificate-environment-office-approval-date" class="form-control" value="##" readonly />
    </div>
</div>

<div class="row g-3 box-of-inputs">
    <div class="content-header mt-0 mb-1">
        <h6 class="mb-0" data-lang="Details of Project Office Approval"></h6>
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-certificate-project-office-approval-details-department-manager" data-lang="Department Manager"></label>
        <input type="text" id="p-details-certificate-project-office-approval-details-department-manager" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-certificate-project-office-approval-details-head-of-sector" data-lang="Head of Sector"></label>
        <input type="text" id="p-details-certificate-project-office-approval-details-head-of-sector" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-certificate-project-office-approval-details-decision-issue-date" data-lang="Decision Issue Date"></label>
        <input type="text" id="p-details-certificate-project-office-approval-details-decision-issue-date" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-certificate-project-office-approval-details-project-confirmation" data-lang="Project Confirmation"></label>
        <input type="text" id="p-details-certificate-project-office-approval-details-project-confirmation" class="form-control" value="##" readonly />
    </div>
</div>

<div class="row g-3 box-of-inputs">
    <div class="content-header mt-0 mb-1">
        <h6 class="mb-0" data-lang="Other Details"></h6>
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-certificate-other-details-project-officer" data-lang="Project Officer"></label>
        <input type="text" id="p-details-certificate-other-details-project-officer" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-certificate-other-details-decision-number" data-lang="Decision Number"></label>
        <input type="text" id="p-details-certificate-other-details-decision-number" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-certificate-other-details-issue-place" data-lang="Issue Place"></label>
        <input type="text" id="p-details-certificate-other-details-issue-place" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-certificate-other-details-approval-number" data-lang="Approval Number"></label>
        <input type="text" id="p-details-certificate-other-details-approval-number" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-certificate-other-details-approval-date" data-lang="Approval Date"></label>
        <input type="text" id="p-details-certificate-other-details-approval-date" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-certificate-other-details-approval-number-2" data-lang="Approval Number 2"></label>
        <input type="text" id="p-details-certificate-other-details-approval-number-2" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-certificate-other-details-hijri-date" data-lang="Hijri Date"></label>
        <input type="text" id="p-details-certificate-other-details-hijri-date" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-certificate-other-details-hijri-month" data-lang="Hijri Month"></label>
        <input type="text" id="p-details-certificate-other-details-hijri-month" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-certificate-other-details-hijri-year" data-lang="Hijri Year"></label>
        <input type="text" id="p-details-certificate-other-details-hijri-year" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-certificate-other-details-member-implementation-notes" data-lang="Member Implementation Notes"></label>
        <textarea id="p-details-certificate-other-details-member-implementation-notes"
                  class="form-control no-resize"
                  aria-label="Activity Description"
                  readonly>##</textarea>
    </div>
</div>

