@{
    ViewData["page_title_data_lang"] = "Project Details";
    ViewData["ViewName"] = "FixedAssets";
    Layout = "~/Views/Shared/ProjectDetailsLayout.cshtml";
    ViewData["Controller"] = "ProjectDetails";

    var lang = Context.Session.GetString("lang");
    string Search = (lang == "en") ? "Search" : "بحث";
    string lengthMenuLeft = (lang == "en") ? "Show" : "عرض الصفوف من";
    string lengthMenuRight = (lang == "en") ? "Entries" : "";
    string to = (lang == "en") ? "to" : "إلى";
    string from = (lang == "en") ? "from" : "من أصل";
    string first = (lang == "en") ? "first" : "الأول";
    string previous = (lang == "en") ? "previous" : "السابق";
    string next = (lang == "en") ? "next" : "التالي";
    string last = (lang == "en") ? "last" : "الأخير";
}

@section SubpageScripts {
    <script>
        $(document).ready(function () {

            var table = $('.table').DataTable({

                ordering: true,
                info: true,
                lengthMenu: [10, 20, 30, 100],
                columnDefs: [
                    { targets: [0], orderable: true },
                    { targets: "_all", orderable: false }
                ],
                language: {
                    search: '@Search',
                    lengthMenu: '@lengthMenuLeft _MENU_ @lengthMenuRight',
                    info: '@lengthMenuLeft _START_ @to _END_ @from _TOTAL_ @lengthMenuRight',
                    paginate: {
                        first: '@first',
                        previous: '@previous',
                        next: '@next',
                        last: '@last'
                    }
                }
            });


            controleTableBtns();
            function controleTableBtns() {
                const paginateBtns = document.querySelectorAll(".paginate_button");

                paginateBtns.forEach(paginateBtn => {
                    paginateBtn.onclick = () => {
                        updateLang();
                        controleTableBtns();
                    }
                });

                document.querySelectorAll(".sorting").forEach(sortBtn => {
                    sortBtn.onclick = () => {
                        updateLang();
                        controleTableBtns();
                    }
                });
            }
            document.querySelectorAll("[name=DataTables_Table_0_length]").forEach(tableLengthSelect => {
                tableLengthSelect.onchange = () => {
                    updateLang();
                    controleTableBtns();
                }
            })

            document.querySelectorAll("input[type=search]").forEach(searchInput => {
                searchInput.onkeyup = () => {
                    updateLang();
                    controleTableBtns();
                }
            })

        });
    </script>
}

<div class="row g-3 box-of-inputs">
    <div class="content-header mt-0 mb-1">
        <h6 class="mb-0" data-lang="Machines & Equipments"></h6>
    </div>
    <div class="table-responsive text-nowrap c-scroll vertical-scroll mb-0">
        <table class="table">
            <thead>
                <tr>
                    <th data-lang="ID"></th>
                    <th data-lang="Statement"></th>
                    <th data-lang="Local / Imported"></th>
                    <th data-lang="The Unit"></th>
                    <th data-lang="The Quantity"></th>
                    <th data-lang="Cost in USD"></th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @for (int i = 1; i <= 50; i++)
                {
                    <tr>
                        <td><span>@i</span></td>
                        <td><span data-lang="Text X5"></span></td>
                        <td><span data-lang="Text X2"></span></td>
                        <td><span data-lang="Text X1"></span></td>
                        <td><span data-lang="Zero X2"></span></td>
                        <td>$<span data-lang="Zero X4"></span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="row g-3 box-of-inputs">
    <div class="content-header mt-0 mb-1">
        <h6 class="mb-0" data-lang="The Extensions"></h6>
    </div>
    <div class="row g-3 m-2 p-3 box-of-inputs">
        <div class="col-sm-6">
            <label class="form-label" for="p-details-fixed-assets-extensions-statement" data-lang="Statement"></label>
            <input type="text" id="p-details-fixed-assets-extensions-statement" class="form-control" value="##" readonly />
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="p-details-fixed-assets-extensions-approval-number" data-lang="Approval Number"></label>
            <input type="text" id="p-details-fixed-assets-extensions-approval-number" class="form-control" value="##" readonly />
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="p-details-fixed-assets-extensions-approval-date" data-lang="Approval Date"></label>
            <input type="text" id="p-details-fixed-assets-extensions-approval-date" class="form-control" value="##" readonly />
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="p-details-fixed-assets-extensions-customs-approval" data-lang="Customs Approval"></label>
            <input type="text" id="p-details-fixed-assets-extensions-customs-approval" class="form-control" value="##" readonly />
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="p-details-fixed-assets-extensions-customs-approval-date" data-lang="Customs Approval Date"></label>
            <input type="text" id="p-details-fixed-assets-extensions-customs-approval-date" class="form-control" value="##" readonly />
        </div>
    </div>
    <div class="table-responsive text-nowrap c-scroll vertical-scroll mb-0">
        <table class="table">
            <thead>
                <tr>
                    <th data-lang="ID"></th>
                    <th data-lang="Statement"></th>
                    <th data-lang="Local / Imported"></th>
                    <th data-lang="The Unit"></th>
                    <th data-lang="The Quantity"></th>
                    <th data-lang="Cost in USD"></th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @for (int i = 1; i <= 50; i++)
                {
                    <tr>
                        <td><span>@i</span></td>
                        <td><span data-lang="Text X5"></span></td>
                        <td><span data-lang="Text X2"></span></td>
                        <td><span data-lang="Text X1"></span></td>
                        <td><span data-lang="Zero X2"></span></td>
                        <td>$<span data-lang="Zero X4"></span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row g-3 box-of-inputs">
    <div class="content-header mt-0 mb-1">
        <h6 class="mb-0" data-lang="Extensions (title) 2"></h6>
    </div>
    <div class="row g-3 m-2 p-3 box-of-inputs">
        <div class="col-sm-6">
            <label class="form-label" for="p-details-fixed-assets-extensions-2-statement" data-lang="Statement"></label>
            <input type="text" id="p-details-fixed-assets-extensions-2-statement" class="form-control" value="##" readonly />
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="p-details-fixed-assets-extensions-2-decission-number" data-lang="Decision Number"></label>
            <input type="text" id="p-details-fixed-assets-extensions-2-decission-number" class="form-control" value="##" readonly />
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="p-details-fixed-assets-extensions-2-added-date" data-lang="Added Date"></label>
            <input type="text" id="p-details-fixed-assets-extensions-2-added-date" class="form-control" value="##" readonly />
        </div>
    </div>
    <div class="table-responsive text-nowrap c-scroll vertical-scroll mb-0">
        <table class="table">
            <thead>
                <tr>
                    <th data-lang="ID"></th>
                    <th data-lang="Statement"></th>
                    <th data-lang="Local / Imported"></th>
                    <th data-lang="The Unit"></th>
                    <th data-lang="The Quantity"></th>
                    <th data-lang="Cost in USD"></th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @for (int i = 1; i <= 50; i++)
                {
                    <tr>
                        <td><span>@i</span></td>
                        <td><span data-lang="Text X5"></span></td>
                        <td><span data-lang="Text X2"></span></td>
                        <td><span data-lang="Text X1"></span></td>
                        <td><span data-lang="Zero X2"></span></td>
                        <td>$<span data-lang="Zero X4"></span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row g-3 box-of-inputs">
    <div class="content-header mt-0 mb-1">
        <h6 class="mb-0" data-lang="Total Fixed Asset Costs"></h6>
    </div>
    <div class="mt-2">
        <div class="row">
            <div class="col">
                <label class="form-label" for="p-details-fixed-assets-total-costs" data-lang="Total Costs in USD"></label>
                <input type="text" id="p-details-investment-cost-total-costs" class="form-control" value="##" readonly />
            </div>
        </div>
    </div>
</div>