@{
    ViewData["page_title_data_lang"] = "Project Details";
    ViewData["ViewName"] = "Products_2";
    Layout = "~/Views/Shared/ProjectDetailsLayout.cshtml";
    ViewData["Controller"] = "ProjectDetails";


    var lang = Context.Session.GetString("lang");
    string Search = (lang == "en") ? "Search" : "بحث";
    string lengthMenuLeft = (lang == "en") ? "Show" : "عرض الصفوف من";
    string lengthMenuRight = (lang == "en") ? "Entries" : "";
    string to = (lang == "en") ? "to" : "إلى";
    string from = (lang == "en") ? "from" : "من أصل";
    string first = (lang == "en") ? "first" : "الأول";
    string previous = (lang == "en") ? "previous" : "السابق";
    string next = (lang == "en") ? "next" : "التالي";
    string last = (lang == "en") ? "last" : "الأخير";
}

@section SubpageScripts {
    <script>
        $(document).ready(function () {

            var table = $('.table').DataTable({

                ordering: true,
                info: true,
                lengthMenu: [10, 20, 30, 100],
                columnDefs: [
                    { targets: [0], orderable: true },
                    { targets: [1], orderable: false },
                    { targets: [2], orderable: false },
                    { targets: [3], orderable: false },
                    { targets: [4], orderable: false },
                    { targets: [5], orderable: false }
                ],
                language: {
                    search: '@Search',
                    lengthMenu: '@lengthMenuLeft _MENU_ @lengthMenuRight',
                    info: '@lengthMenuLeft _START_ @to _END_ @from _TOTAL_ @lengthMenuRight',
                    paginate: {
                        first: '@first',
                        previous: '@previous',
                        next: '@next',
                        last: '@last'
                    }
                }
            });


            controleTableBtns();
            function controleTableBtns() {
                const paginateBtns = document.querySelectorAll(".paginate_button");

                paginateBtns.forEach(paginateBtn => {
                    paginateBtn.onclick = () => {
                        updateLang();
                        controleTableBtns();
                    }
                });

                document.querySelectorAll(".sorting").forEach(sortBtn => {
                    sortBtn.onclick = () => {
                        updateLang();
                        controleTableBtns();
                    }
                });
            }
            document.querySelectorAll("[name=DataTables_Table_0_length]").forEach(tableLengthSelect => {
                tableLengthSelect.onchange = () => {
                    updateLang();
                    controleTableBtns();
                }
            })

            document.querySelectorAll("input[type=search]").forEach(searchInput => {
                searchInput.onkeyup = () => {
                    updateLang();
                    controleTableBtns();
                }
            })

        });
    </script>
}



@* The Back Button *@
<div>
    <a asp-controller="ProjectDetails" asp-action="Products" class="text-secondary">
        <i class='bx bx-left-arrow-alt fs-3 back-icon'></i>
        <span data-lang="Back"></span>
    </a>
</div>

@* Product Data *@
<div class="row g-3 box-of-inputs">
    <div class="content-header mt-0 mb-1">
        <h6 class="mb-0" data-lang="Product Data"></h6>
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-prod-data-product-name" data-lang="Product Name"></label>
        <input type="text" id="p-details-prod-data-product-name" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-prod-data-unit" data-lang="Unit"></label>
        <input type="text" id="p-details-prod-data-unit" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-prod-data-annual-production-capacity" data-lang="Annual Production Capacity"></label>
        <input type="text" id="p-details-prod-data-annual-production-capacity" class="form-control" value="##" readonly />
    </div>
</div>

@* Service Data *@
<div class="row g-3 box-of-inputs">
    <div class="content-header mt-0 mb-1">
        <h6 class="mb-0" data-lang="Service Data"></h6>
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-serv-data-service-name" data-lang="Service Name"></label>
        <input type="text" id="p-details-serv-data-service-name" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-serv-data-added-date" data-lang="Added Date"></label>
        <input type="text" id="p-details-serv-data-added-date" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="p-details-serv-data-order-number" data-lang="Order Number"></label>
        <input type="text" id="p-details-serv-data-order-number" class="form-control" value="##" readonly />
    </div>

</div>

@* Production Input Extensions *@
<div class="row g-3 box-of-inputs">
    <div class="content-header mt-0 mb-1">
        <h6 class="mb-0" data-lang="Production Input Extensions"></h6>
    </div>
    <div class="table-responsive text-nowrap c-scroll vertical-scroll mb-0">
        <table class="table">
            <thead>
                <tr>
                    <th data-lang="ID"></th>
                    <th data-lang="Name"></th>
                    <th data-lang="The Type"></th>
                    <th data-lang="Unit"></th>
                    <th data-lang="Quantity"></th>
                    <th data-lang="Cost"></th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @{
                    for (int i = 1; i <= 110; i++)
                    {
                        <tr>
                            <td><span>@i</span></td>
                            <td><span data-lang="Text X7"></span></td>
                            <td><span data-lang="Text X3"></span></td>
                            <td><span data-lang="Text X2"></span></td>
                            <td><span data-lang="Zero X3"></span></td>
                            <td><span data-lang="Zero X4"></span></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>