@{
    ViewData["page_title_data_lang"] = "Project Details";
    ViewData["ViewName"] = "Timeline";
    Layout = "~/Views/Shared/ProjectDetailsLayout.cshtml";
    ViewData["Controller"] = "ProjectDetails";
}

<div class="row g-3 box-of-inputs">
    <div class="content-header mt-0 mb-1">
        <h6 class="mb-0" data-lang="Project Registration"></h6>
    </div>
    <div class="mt-2">
        <div class="row">
            <span class="d-block col-md-6" data-lang="Procedure for Registration and Other Licensing"></span>
        </div>
        <div class="row g-3">
            <div class="col-sm-6">
                <label class="form-label" for="Time_Frame_1" data-lang="Time Frame"></label>
                <input type="text" id="Time_Frame_1" class="form-control" value="##" readonly />
            </div>
            <div class="col-sm-6">
                <label class="form-label" for="timeline-notes-1" data-lang="Notes"></label>
                <input type="text" id="timeline-notes-1" class="form-control" value="##" readonly />
            </div>
        </div>
    </div>
    <hr />
    <div class="mt-2">
        <div class="row">
            <span class="d-block col-md-6" data-lang="Land Preparation Civil and Construction Works and Infrastructure"></span>
        </div>
        <div class="row g-3">
            <div class="col-sm-6">
                <label class="form-label" for="Time_Frame_2" data-lang="Time Frame"></label>
                <input type="text" id="Time_Frame_2" class="form-control" value="##" readonly />
            </div>
            <div class="col-sm-6">
                <label class="form-label" for="timeline-notes-2" data-lang="Notes"></label>
                <input type="text" id="timeline-notes-2" class="form-control" value="##" readonly />
            </div>
        </div>
    </div>
    <hr />
    <div class="mt-2">
        <div class="row">
            <span class="d-block col-md-6" data-lang="Import and Installation of Machinery Equipment and Supplies Necessary for the Project"></span>
        </div>
        <div class="row g-3">
            <div class="col-sm-6">
                <label class="form-label" for="Time_Frame_3" data-lang="Time Frame"></label>
                <input type="text" id="Time_Frame_3" class="form-control" value="##" readonly />
            </div>
            <div class="col-sm-6">
                <label class="form-label" for="timeline-notes-3" data-lang="Notes"></label>
                <input type="text" id="timeline-notes-3" class="form-control" value="##" readonly />
            </div>
        </div>
    </div>
    <hr />
    <div class="mt-2">
        <div class="row">
            <span class="d-block col-md-6" data-lang="Start the Trial Run"></span>
        </div>
        <div class="row g-3">
            <div class="col-sm-6">
                <label class="form-label" for="Time_Frame_4" data-lang="Time Frame"></label>
                <input type="text" id="Time_Frame_4" class="form-control" value="##" readonly />
            </div>
            <div class="col-sm-6">
                <label class="form-label" for="timeline-notes-4" data-lang="Notes"></label>
                <input type="text" id="timeline-notes-4" class="form-control" value="##" readonly />
            </div>
        </div>
    </div>
    <hr />
    <div class="mt-2">
        <div class="row">
            <span class="d-block col-md-6" data-lang="Implementation Kickoff / Commercial Activities"></span>
        </div>
        <div class="row g-3">
            <div class="col-sm-6">
                <label class="form-label" for="Time_Frame_5" data-lang="Time Frame"></label>
                <input type="text" id="Time_Frame_5" class="form-control" value="##" readonly />
            </div>
            <div class="col-sm-6">
                <label class="form-label" for="timeline-notes-5" data-lang="Notes"></label>
                <input type="text" id="timeline-notes-5" class="form-control" value="##" readonly />
            </div>
        </div>
    </div>
    <hr />
    <div class="mt-2">
        <div class="row">
            <span class="d-block col-md-6" data-lang="The Implementation"></span>
        </div>
        <div class="row g-3">
            <div class="col-sm-6">
                <label class="form-label" for="Time_Frame_6" data-lang="Time Frame"></label>
                <input type="text" id="Time_Frame_6" class="form-control" value="##" readonly />
            </div>
            <div class="col-sm-6">
                <label class="form-label" for="timeline-notes-6" data-lang="Notes"></label>
                <input type="text" id="timeline-notes-6" class="form-control" value="##" readonly />
            </div>
        </div>
    </div>
</div>

<div class="row g-3 box-of-inputs">
    <div class="content-header mt-0 mb-1">
        <h6 class="mb-0" data-lang="Business Start-up Certificate"></h6>
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="Project_Name" data-lang="Certificate Number"></label>
        <input type="text" id="Project_Name" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="Project_Name" data-lang="Certificate Issue Date"></label>
        <input type="text" id="Project_Name" class="form-control" value="##" readonly />
    </div>
    <div class="col-sm-6">
        <label class="form-label" for="Project_Name" data-lang="Production Start Date"></label>
        <input type="text" id="Project_Name" class="form-control" value="##" readonly />
    </div>
</div>

<div class="row g-3 box-of-inputs">
    <div class="content-header mt-0 mb-1">
        <h6 class="mb-0" data-lang="Renewals"></h6>
    </div>
    <div class="mt-2">
        <div class="row">
            <span class="d-block col-md-6" data-lang="Implementation - The First Stage"></span>
        </div>
        <div class="row g-3">
            <div class="col-sm-6">
                <label class="form-label" for="p-details-decision-num-input" data-lang="Decision Number"></label>
                <input type="text" id="p-details-decision-num" class="form-control" value="##" readonly />
            </div>
            <div class="col-sm-6">
                <label class="form-label" for="p-details-production-start-date-input" data-lang="Production Start Date"></label>
                <input type="text" id="p-details-production-start-date-input" class="form-control" value="##" readonly />
            </div>
            <div class="col-sm-6">
                <label class="form-label" for="p-details-imp-start-date-1st-stage" data-lang="Implementation Start Date - The First Stage"></label>
                <input type="text" id="p-details-imp-start-date-1st-stage" class="form-control" value="##" readonly />
            </div>
            <div class="col-sm-6">
                <label class="form-label" for="p-details-imp-end-date-1st-stage" data-lang="Implementation End Date - The First Stage"></label>
                <input type="text" id="p-details-imp-end-date-1st-stage" class="form-control" value="##" readonly />
            </div>
        </div>
    </div>
    <hr />
    <div class="mt-2">
        <div class="row">
            <span class="d-block col-md-6" data-lang="Implementation - The Second Stage"></span>
        </div>
        <div class="row g-3">
            <div class="col-sm-6">
                <label class="form-label" for="p-details-decision-num-input" data-lang="Decision Number"></label>
                <input type="text" id="p-details-decision-num" class="form-control" value="##" readonly />
            </div>
            <div class="col-sm-6">
                <label class="form-label" for="p-details-production-start-date-input" data-lang="Production Start Date"></label>
                <input type="text" id="p-details-production-start-date-input" class="form-control" value="##" readonly />
            </div>
            <div class="col-sm-6">
                <label class="form-label" for="p-details-imp-start-date-2nd-stage" data-lang="Implementation Start Date - The Second Stage"></label>
                <input type="text" id="p-details-imp-start-date-2nd-stage" class="form-control" value="##" readonly />
            </div>
            <div class="col-sm-6">
                <label class="form-label" for="p-details-imp-end-date-2nd-stage" data-lang="Implementation End Date - The Second Stage"></label>
                <input type="text" id="p-details-imp-end-date-2nd-stage" class="form-control" value="##" readonly />
            </div>
        </div>
    </div>
    <hr />
    <div class="mt-2">
        <div class="row">
            <span class="d-block col-md-6" data-lang="Implementation - The Third Stage"></span>
        </div>
        <div class="row g-3">
            <div class="col-sm-6">
                <label class="form-label" for="p-details-decision-num-input" data-lang="Decision Number"></label>
                <input type="text" id="p-details-decision-num" class="form-control" value="##" readonly />
            </div>
            <div class="col-sm-6">
                <label class="form-label" for="p-details-production-start-date-input" data-lang="Production Start Date"></label>
                <input type="text" id="p-details-production-start-date-input" class="form-control" value="##" readonly />
            </div>
            <div class="col-sm-6">
                <label class="form-label" for="p-details-imp-start-date-3rd-stage" data-lang="Implementation Start Date - The Third Stage"></label>
                <input type="text" id="p-details-imp-start-date-3rd-stage" class="form-control" value="##" readonly />
            </div>
            <div class="col-sm-6">
                <label class="form-label" for="p-details-imp-end-date-3rd-stage" data-lang="Implementation End Date - The Third Stage"></label>
                <input type="text" id="p-details-imp-end-date-3rd-stage" class="form-control" value="##" readonly />
            </div>
        </div>
    </div>
</div>