@{
    ViewData["page_title_data_lang"] = "Project Details";
    
}
<div class="container-xxl flex-grow-1 container-p-y content-area no-scroll">
    <div class="row h-100">
        <div class="col-12 h-100 overflow-hidden">
            <div class="bs-stepper wizard-vertical vertical wizard-vertical-icons-example pb-2 h-100 mt-2">
            <div class="bs-stepper-header h-100 overflow-auto c-scroll">
                <div class="step" data-target="#conclusion">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class="bx bx-detail fs-5"></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="Conclusion"></span>
                        </span>
                    </button>
                </div>
                <div class="step" data-target="#project-timeline">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class='bx bx-time-five fs-5'></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="Timeline"></span>
                        </span>
                    </button>
                </div>
                <div class="step" data-target="#products">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class='bx bxl-product-hunt fs-5' ></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="Products"></span>
                        </span>
                    </button>
                </div>
                <div class="step" data-target="#investment-cost">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class='bx bx-dollar fs-5'></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="Investment Cost"></span>
                        </span>
                    </button>
                </div>
                <div class="step" data-target="#funding-sources">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class='bx bxs-bank fs-5' ></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="Funding Sources"></span>
                        </span>
                    </button>
                </div>
                <div class="step" data-target="#project-owner">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class='bx bxs-user fs-5' ></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="Project Owner"></span>
                        </span>
                    </button>
                </div>
                <div class="step" data-target="#other-data">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class='bx bxs-data fs-5' ></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="Other Data"></span>
                        </span>
                    </button>
                </div>
                <div class="step" data-target="#fixed-assets">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class='bx bxs-briefcase fs-5'></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="Fixed Assets"></span>
                        </span>
                    </button>
                </div>
                <div class="step" data-target="#production-inputs">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class='bx bx-log-in-circle fs-5'></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="Production Inputs"></span>
                        </span>
                    </button>
                </div>
                <div class="step" data-target="#labor-needs">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class='bx bx-body fs-5'></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="Labor Needs"></span>
                        </span>
                    </button>
                </div>
                <div class="step" data-target="#environmental-impact">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class='bx bxs-tree fs-5' ></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="Environmental Impact"></span>
                        </span>
                    </button>
                </div>
                <div class="step" data-target="#certificate">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class='bx bxs-dock-left fs-5'></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="Certificate"></span>
                        </span>
                    </button>
                </div>
                <div class="step" data-target="#laws-and-articles">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class='bx bx-list-ul fs-5' ></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="Laws and Articles"></span>
                        </span>
                    </button>
                </div>
                <div class="step" data-target="#production-requirements">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class='bx bx-shape-square fs-5'></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="Production Requirements"></span>
                        </span>
                    </button>
                </div>
                <div class="step" data-target="#modifications">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class='bx bxs-edit-alt fs-5'></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="Modifications"></span>
                        </span>
                    </button>
                </div>
                <div class="step" data-target="#fees">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class='bx bx-dollar-circle fs-5'></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="Fees"></span>
                        </span>
                    </button>
                </div>
                <div class="step" data-target="#notes">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class='bx bx-notepad fs-5' ></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="The Notes"></span>
                        </span>
                    </button>
                </div>
                <div class="step" data-target="#documents">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class='bx bx-file fs-5' ></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="The Documents"></span>
                        </span>
                    </button>
                </div>
                <div class="step" data-target="#tracking">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle w-px-30 h-px-30">
                            <i class='bx bx-right-indent fs-5'></i>
                        </span>
                        <span class="bs-stepper-label">
                        <span class="bs-stepper-title lh-base" data-lang="Tracking"></span>
                        </span>
                    </button>
                </div>
                
            </div>
            <div class="bs-stepper-content h-100 overflow-auto c-scroll">
                <form onSubmit="return false" class="show-only-form">
                    <!-- Conclusion -->
                    <div id="conclusion" class="content">
                        <div class="row g-3 box-of-inputs">
                            <div class="content-header mt-0 mb-1">
                                <h6 class="mb-0" data-lang="Primary Project Data"></h6>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Project_Name" data-lang="Project Name"></label>
                                <input type="text" id="Project_Name" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Activity_Description" data-lang="Activity Description"></label>
                                <textarea
                                    id="Activity_Description"
                                    class="form-control"
                                    aria-label="Activity Description"
                                    readonly
                                >##</textarea>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Activity_Type" data-lang="Activity Type"></label>
                                <input type="text" id="Activity_Type" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Order_Type" data-lang="Order Type"></label>
                                <input type="text" id="Order_Type" class="form-control" value="##" readonly />
                            </div>
                        </div>
                        <div class="row g-3 box-of-inputs">
                            <div class="content-header mt-0 mb-1">
                                <h6 class="mb-0" data-lang="Project Location"></h6>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Governorate" data-lang="Governorate"></label>
                                <input type="text" id="Governorate" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Directorate" data-lang="Directorate"></label>
                                <input type="text" id="Directorate" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Region" data-lang="Region"></label>
                                <input type="text" id="Region" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Street" data-lang="Street"></label>
                                <input type="text" id="Street" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Administrative_Address" data-lang="Administrative Address"></label>
                                <input type="text" id="Administrative_Address" class="form-control" value="##" readonly />
                            </div>
                        </div>
                        <div class="row g-3 box-of-inputs">
                            <div class="content-header mt-0 mb-1">
                                <h6 class="mb-0" data-lang="Contact Information"></h6>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Phone_Number" data-lang="Phone Number"></label>
                                <input type="text" id="Phone_Number" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Fax" data-lang="Fax"></label>
                                <input type="text" id="Fax" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Circular" data-lang="Circular"></label>
                                <input type="text" id="Circular" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Mail_Box" data-lang="Mail Box"></label>
                                <input type="text" id="Mail_Box" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Email" data-lang="Email"></label>
                                <input type="text" id="Email" class="form-control" value="##" readonly />
                            </div>
                        </div>
                        <div class="row g-3 box-of-inputs">
                            <div class="content-header mt-0 mb-1">
                                <h6 class="mb-0" data-lang="Land Area Required for the Project"></h6>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Area_as_a_Number">
                                    <span data-lang="Area as a Number"></span>
                                    (<span data-lang="Square Meters"></span>)
                                </label>
                                <input type="text" id="Area_as_a_Number" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Area_as_Text">
                                    <span data-lang="Area as Text"></span>
                                    (<span data-lang="Square Meters"></span>)
                                </label>
                                <input type="text" id="Area_as_Text" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Ownership_Type" data-lang="Ownership Type"></label>
                                <input type="text" id="Ownership_Type" class="form-control" value="##" readonly />
                            </div>
                        </div>
                        <div class="row g-3 box-of-inputs">
                            <div class="content-header mt-0 mb-1">
                                <h6 class="mb-0" data-lang="Order"></h6>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Order_No" data-lang="Order No"></label>
                                <input type="text" id="Order_No" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Order_Date" data-lang="Order Date"></label>
                                <input type="text" id="Order_Date" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Applicant_Name" data-lang="Applicant's Name"></label>
                                <input type="text" id="Applicant_Name" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Applicant_Status" data-lang="Applicant's Status"></label>
                                <input type="text" id="Applicant_Status" class="form-control" value="##" readonly />
                            </div>
                        </div>
                        <div class="row g-3 box-of-inputs">
                            <div class="content-header mt-0 mb-1">
                                <h6 class="mb-0" data-lang="Others"></h6>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="p-details-project-owner" data-lang="Project Owner"></label>
                                <input type="text" id="p-details-project-owner" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Order_Date" data-lang="Order Date"></label>
                                <input type="text" id="Order_Date" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Applicant_Name" data-lang="Applicant's Name"></label>
                                <input type="text" id="Applicant_Name" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Applicant_Status" data-lang="Applicant's Status"></label>
                                <input type="text" id="Applicant_Status" class="form-control" value="##" readonly />
                            </div>
                        </div>
                    </div>
                    <!-- / Conclusion -->
                    
                    <!-- Project Timeline -->
                    <div id="project-timeline" class="content">
                        <div class="row g-3 box-of-inputs">
                            <div class="content-header mt-0 mb-1">
                                <h6 class="mb-0" data-lang="Project Registration"></h6>
                            </div>
                            <div class="mt-2">
                                <div class="row">
                                    <span class="d-block col-md-6" data-lang="Procedure for Registration and Other Licensing"></span>
                                </div>
                                <div class="row g-3">
                                    <div class="col-sm-6">
                                        <label class="form-label" for="Time_Frame_1" data-lang="Time Frame"></label>
                                        <input type="text" id="Time_Frame_1" class="form-control" value="##" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="timeline-notes-1" data-lang="Notes"></label>
                                        <input type="text" id="timeline-notes-1" class="form-control" value="##" readonly />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="mt-2">
                                <div class="row">
                                    <span class="d-block col-md-6" data-lang="Land Preparation Civil and Construction Works and Infrastructure"></span>
                                </div>
                                <div class="row g-3">
                                    <div class="col-sm-6">
                                        <label class="form-label" for="Time_Frame_2" data-lang="Time Frame"></label>
                                        <input type="text" id="Time_Frame_2" class="form-control" value="##" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="timeline-notes-2" data-lang="Notes"></label>
                                        <input type="text" id="timeline-notes-2" class="form-control" value="##" readonly />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="mt-2">
                                <div class="row">
                                    <span class="d-block col-md-6" data-lang="Import and Installation of Machinery Equipment and Supplies Necessary for the Project"></span>
                                </div>
                                <div class="row g-3">
                                    <div class="col-sm-6">
                                        <label class="form-label" for="Time_Frame_3" data-lang="Time Frame"></label>
                                        <input type="text" id="Time_Frame_3" class="form-control" value="##" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="timeline-notes-3" data-lang="Notes"></label>
                                        <input type="text" id="timeline-notes-3" class="form-control" value="##" readonly />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="mt-2">
                                <div class="row">
                                    <span class="d-block col-md-6" data-lang="Start the Trial Run"></span>
                                </div>
                                <div class="row g-3">
                                    <div class="col-sm-6">
                                        <label class="form-label" for="Time_Frame_4" data-lang="Time Frame"></label>
                                        <input type="text" id="Time_Frame_4" class="form-control" value="##" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="timeline-notes-4" data-lang="Notes"></label>
                                        <input type="text" id="timeline-notes-4" class="form-control" value="##" readonly />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="mt-2">
                                <div class="row">
                                    <span class="d-block col-md-6" data-lang="Implementation Kickoff / Commercial Activities"></span>
                                </div>
                                <div class="row g-3">
                                    <div class="col-sm-6">
                                        <label class="form-label" for="Time_Frame_5" data-lang="Time Frame"></label>
                                        <input type="text" id="Time_Frame_5" class="form-control" value="##" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="timeline-notes-5" data-lang="Notes"></label>
                                        <input type="text" id="timeline-notes-5" class="form-control" value="##" readonly />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="mt-2">
                                <div class="row">
                                    <span class="d-block col-md-6" data-lang="The Implementation"></span>
                                </div>
                                <div class="row g-3">
                                    <div class="col-sm-6">
                                        <label class="form-label" for="Time_Frame_6" data-lang="Time Frame"></label>
                                        <input type="text" id="Time_Frame_6" class="form-control" value="##" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="timeline-notes-6" data-lang="Notes"></label>
                                        <input type="text" id="timeline-notes-6" class="form-control" value="##" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 box-of-inputs">
                            <div class="content-header mt-0 mb-1">
                                <h6 class="mb-0" data-lang="Business Start-up Certificate"></h6>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Project_Name" data-lang="Certificate Number"></label>
                                <input type="text" id="Project_Name" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Project_Name" data-lang="Certificate Issue Date"></label>
                                <input type="text" id="Project_Name" class="form-control" value="##" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Project_Name" data-lang="Production Start Date"></label>
                                <input type="text" id="Project_Name" class="form-control" value="##" readonly />
                            </div>
                        </div>

                        <div class="row g-3 box-of-inputs">
                            <div class="content-header mt-0 mb-1">
                                <h6 class="mb-0" data-lang="Renewals"></h6>
                            </div>
                            <div class="mt-2">
                                <div class="row">
                                    <span class="d-block col-md-6" data-lang="Implementation - The First Stage"></span>
                                </div>
                                <div class="row g-3">
                                    <div class="col-sm-6">
                                        <label class="form-label" for="p-details-decision-num-input" data-lang="Decision Number"></label>
                                        <input type="text" id="p-details-decision-num" class="form-control" value="##" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="p-details-production-start-date-input" data-lang="Production Start Date"></label>
                                        <input type="text" id="p-details-production-start-date-input" class="form-control" value="##" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="p-details-imp-start-date-1st-stage" data-lang="Implementation Start Date - The First Stage"></label>
                                        <input type="text" id="p-details-imp-start-date-1st-stage" class="form-control" value="##" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="p-details-imp-end-date-1st-stage" data-lang="Implementation End Date - The First Stage"></label>
                                        <input type="text" id="p-details-imp-end-date-1st-stage" class="form-control" value="##" readonly />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="mt-2">
                                <div class="row">
                                    <span class="d-block col-md-6" data-lang="Implementation - The Second Stage"></span>
                                </div>
                                <div class="row g-3">
                                    <div class="col-sm-6">
                                        <label class="form-label" for="p-details-decision-num-input" data-lang="Decision Number"></label>
                                        <input type="text" id="p-details-decision-num" class="form-control" value="##" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="p-details-production-start-date-input" data-lang="Production Start Date"></label>
                                        <input type="text" id="p-details-production-start-date-input" class="form-control" value="##" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="p-details-imp-start-date-2nd-stage" data-lang="Implementation Start Date - The Second Stage"></label>
                                        <input type="text" id="p-details-imp-start-date-2nd-stage" class="form-control" value="##" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="p-details-imp-end-date-2nd-stage" data-lang="Implementation End Date - The Second Stage"></label>
                                        <input type="text" id="p-details-imp-end-date-2nd-stage" class="form-control" value="##" readonly />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="mt-2">
                                <div class="row">
                                    <span class="d-block col-md-6" data-lang="Implementation - The Third Stage"></span>
                                </div>
                                <div class="row g-3">
                                    <div class="col-sm-6">
                                        <label class="form-label" for="p-details-decision-num-input" data-lang="Decision Number"></label>
                                        <input type="text" id="p-details-decision-num" class="form-control" value="##" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="p-details-production-start-date-input" data-lang="Production Start Date"></label>
                                        <input type="text" id="p-details-production-start-date-input" class="form-control" value="##" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="p-details-imp-start-date-3rd-stage" data-lang="Implementation Start Date - The Third Stage"></label>
                                        <input type="text" id="p-details-imp-start-date-3rd-stage" class="form-control" value="##" readonly />
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="p-details-imp-end-date-3rd-stage" data-lang="Implementation End Date - The Third Stage"></label>
                                        <input type="text" id="p-details-imp-end-date-3rd-stage" class="form-control" value="##" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / Project Timeline -->

                    <!-- Products -->
                    <div id="products" class="content">
                        <div class="py-3 px-4">
                            <div class="row gy-2">
                                <div class="col-md-2 col-12 d-flex align-items-center">
                                    <label class="form-label text-capitalize fs-5" for="Show_Registered_Projects" data-lang="Show"></label>
                                    <select id="Show_Registered_Projects" class="select form-select ms-2">
                                        <option value="10" selected >10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>
                                <div class="col-md-10 col-12 ps-md-0">
                                    <div class="input-group input-group-merge">
                                        <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Search..."
                                            aria-label="Search..."
                                            aria-describedby="basic-addon-search31"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3 py-3 px-4">
                            <div class="table-responsive text-nowrap c-scroll vertical-scroll">
                                <table class="table">
                                <thead>
                                    <tr>
                                        <th data-lang="ID"></th>
                                        <th data-lang="Product Name"></th>
                                        <th data-lang="Unit"></th>
                                        <th data-lang="Annual Production Capacity"></th>
                                        <th data-lang="Production Inputs"></th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    <tr>
                                        <td><span>1</span></td>
                                        <td><span data-lang="Text X7"></span></td>
                                        <td><span data-lang="Text X2"></span></td>
                                        <td><span data-lang="Text X4"></span></td>
                                        <td>
                                            <a asp-area="" asp-controller="Home" asp-action="ProjectDetails" class="text-secondary">
                                                <i class='bx bxs-show'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>2</span></td>
                                        <td><span data-lang="Text X7"></span></td>
                                        <td><span data-lang="Text X2"></span></td>
                                        <td><span data-lang="Text X4"></span></td>
                                        <td>
                                            <a asp-area="" asp-controller="Home" asp-action="ProjectDetails" class="text-secondary">
                                                <i class='bx bxs-show'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>3</span></td>
                                        <td><span data-lang="Text X7"></span></td>
                                        <td><span data-lang="Text X2"></span></td>
                                        <td><span data-lang="Text X4"></span></td>
                                        <td>
                                            <a asp-area="" asp-controller="Home" asp-action="ProjectDetails" class="text-secondary">
                                                <i class='bx bxs-show'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>4</span></td>
                                        <td><span data-lang="Text X7"></span></td>
                                        <td><span data-lang="Text X2"></span></td>
                                        <td><span data-lang="Text X4"></span></td>
                                        <td>
                                            <a asp-area="" asp-controller="Home" asp-action="ProjectDetails" class="text-secondary">
                                                <i class='bx bxs-show'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>5</span></td>
                                        <td><span data-lang="Text X7"></span></td>
                                        <td><span data-lang="Text X2"></span></td>
                                        <td><span data-lang="Text X4"></span></td>
                                        <td>
                                            <a asp-area="" asp-controller="Home" asp-action="ProjectDetails" class="text-secondary">
                                                <i class='bx bxs-show'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>6</span></td>
                                        <td><span data-lang="Text X7"></span></td>
                                        <td><span data-lang="Text X2"></span></td>
                                        <td><span data-lang="Text X4"></span></td>
                                        <td>
                                            <a asp-area="" asp-controller="Home" asp-action="ProjectDetails" class="text-secondary">
                                                <i class='bx bxs-show'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>7</span></td>
                                        <td><span data-lang="Text X7"></span></td>
                                        <td><span data-lang="Text X2"></span></td>
                                        <td><span data-lang="Text X4"></span></td>
                                        <td>
                                            <a asp-area="" asp-controller="Home" asp-action="ProjectDetails" class="text-secondary">
                                                <i class='bx bxs-show'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>8</span></td>
                                        <td><span data-lang="Text X7"></span></td>
                                        <td><span data-lang="Text X2"></span></td>
                                        <td><span data-lang="Text X4"></span></td>
                                        <td>
                                            <a asp-area="" asp-controller="Home" asp-action="ProjectDetails" class="text-secondary">
                                                <i class='bx bxs-show'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>9</span></td>
                                        <td><span data-lang="Text X7"></span></td>
                                        <td><span data-lang="Text X2"></span></td>
                                        <td><span data-lang="Text X4"></span></td>
                                        <td>
                                            <a asp-area="" asp-controller="Home" asp-action="ProjectDetails" class="text-secondary">
                                                <i class='bx bxs-show'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>10</span></td>
                                        <td><span data-lang="Text X7"></span></td>
                                        <td><span data-lang="Text X2"></span></td>
                                        <td><span data-lang="Text X4"></span></td>
                                        <td>
                                            <a asp-area="" asp-controller="Home" asp-action="ProjectDetails" class="text-secondary">
                                                <i class='bx bxs-show'></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                            <!-- Basic Pagination -->
                            <div class="d-flex justify-content-end mt-4">
                                <nav aria-label="Page navigation ms-auto">
                                    <ul class="pagination">
                                    <li class="page-item first">
                                        <a class="page-link" href="javascript:void(0);"
                                        ><i class="tf-icon bx bx-chevrons-left"></i
                                        ></a>
                                    </li>
                                    <li class="page-item prev">
                                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-left"></i></a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:void(0);">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">5</a>
                                    </li>
                                    <li class="page-item next">
                                        <a class="page-link" href="javascript:void(0);"
                                        ><i class="tf-icon bx bx-chevron-right"></i
                                        ></a>
                                    </li>
                                    <li class="page-item last">
                                        <a class="page-link" href="javascript:void(0);"
                                        ><i class="tf-icon bx bx-chevrons-right"></i
                                        ></a>
                                    </li>
                                    </ul>
                                </nav>
                            </div>
                            <!--/ Basic Pagination -->
                        </div>
                    </div>
                    <!-- / Products -->
                    
                    <!-- Investment Cost -->
                    <div id="investment-cost" class="content">
                    
                    </div>
                    <!-- / Investment Cost -->

                    <!-- Funding Sources -->
                    <div id="funding-sources" class="content">
                    
                    </div>
                    <!-- / Funding Sources -->
                    
                    <!-- Project Owner -->
                    <div id="project-owner" class="content">
                    
                    </div>
                    <!-- / Project Owner -->

                    <!-- Other Data -->
                    <div id="other-data" class="content">
                    
                    </div>
                    <!-- / Other Data -->

                    <!-- Fixed Assets -->
                    <div id="fixed-assets" class="content">
                    
                    </div>
                    <!-- / Fixed Assets -->

                    <!-- Production Inputs -->
                    <div id="production-inputs" class="content">
                    
                    </div>
                    <!-- / Production Inputs -->

                    <!-- Labor Needs -->
                    <div id="labor-needs" class="content">
                    
                    </div>
                    <!-- / Labor Needs -->

                    <!-- Environmental Impact -->
                    <div id="environmental-impact" class="content">
                    
                    </div>
                    <!-- / Environmental Impact -->

                    <!-- Certificate -->
                    <div id="certificate" class="content">
                    
                    </div>
                    <!-- / Certificate -->

                    <!-- Laws and Articles -->
                    <div id="laws-and-articles" class="content">
                    
                    </div>
                    <!-- / Laws and Articles -->

                    <!-- Production Requirements -->
                    <div id="production-requirements" class="content">
                    
                    </div>
                    <!-- / Production Requirements -->

                    <!-- Modifications -->
                    <div id="modifications" class="content">
                    
                    </div>
                    <!-- / Modifications -->

                    <!-- Fees -->
                    <div id="fees" class="content">
                    
                    </div>
                    <!-- / Fees -->

                    <!-- Notes -->
                    <div id="notes" class="content">
                    
                    </div>
                    <!-- / Notes -->

                    <!-- Documents -->
                    <div id="documents" class="content">
                    
                    </div>
                    <!-- / Documents -->

                    <!-- Tracking -->
                    <div id="tracking" class="content">
                    
                    </div>
                    <!-- / Tracking -->


                </form>
            </div>
            </div>
        </div>

    </div>
</div>
