@{
    ViewData["page_title_data_lang"] = "Project Card";
}


<div class="container-xxl flex-grow-1 container-p-y content-area">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card p-4">
                <div>
                    <a asp-controller="ProjectDetails" asp-action="Index" class="text-secondary">
                        <i class='bx bx-left-arrow-alt fs-3 back-icon'></i>
                        <span data-lang="Back"></span>
                    </a>
                </div>
                <hr />
                <div class="proj-card">
                    <div class="table-wrapper c-scroll vertical-scroll">
                        <table>
                            <caption data-lang="Basic Project Data"></caption>
                            <tbody>
                                <tr>
                                    <th data-lang="The Main Sector"></th>
                                    <td>##</td>
                                    <th data-lang="Subsector"></th>
                                    <td>##</td>
                                    <th data-lang="Activity Type"></th>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <th data-lang="Project Name"></th>
                                    <td>##</td>
                                    <th data-lang="Decision Number"></th>
                                    <td>##</td>
                                    <th data-lang="Decision Issue Date"></th>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <th data-lang="Project Location"></th>
                                    <td>##</td>
                                    <th data-lang="Decision Issue Authority"></th>
                                    <td>##</td>
                                    <th data-lang="Phone Number"></th>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <th data-lang="Project Owner Name"></th>
                                    <td>##</td>
                                    <th data-lang="Project Owner Address"></th>
                                    <td>##</td>
                                    <th data-lang="Legal Form"></th>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <th data-lang="Lease / Property Document"></th>
                                    <td>##</td>
                                    <th data-lang="Implementation Start Date"></th>
                                    <td>##</td>
                                    <th data-lang="Implementation End Date"></th>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <th data-lang="Activity Start Date"></th>
                                    <td>##</td>
                                    <th data-lang="Commercial Register"></th>
                                    <td>##</td>
                                    <th data-lang="Tax Number"></th>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <th data-lang="Investment Cost"></th>
                                    <td>##</td>
                                    <th data-lang="Fixed Assets' Cost"></th>
                                    <td>##</td>
                                    <th data-lang="Investment Area"></th>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <th data-lang="Number of Local Workers"></th>
                                    <td>##</td>
                                    <th data-lang="Number of Foreign Workers"></th>
                                    <td>##</td>
                                    <th data-lang="Memorandum of Association"></th>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <th data-lang="Project Financial Status"></th>
                                    <td>##</td>
                                    <th data-lang="Loans"></th>
                                    <td>##</td>
                                    <th data-lang="Primary Law"></th>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <th>GIS</th>
                                    <td>##</td>
                                    <th></th>
                                    <td></td>
                                    <th></th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-wrapper c-scroll vertical-scroll">
                        <table>
                            <caption data-lang="The Approvals Obtained from the Authorities"></caption>
                            <tbody>
                                <tr>
                                    <th data-lang="Authority Name"></th>
                                    <th data-lang="Approval Number"></th>
                                    <th data-lang="Approval Issuance Date"></th>
                                    <th data-lang="Approval Subject"></th>
                                    <th data-lang="Incoming Number to the Authority"></th>
                                    <th data-lang="Incoming Date to the Authority"></th>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-wrapper c-scroll vertical-scroll">
                        <div class="d-flex">
                            <div class="w-50 p-0">
                                <table>
                                        <caption data-lang="Project Products"></caption>
                                        <tbody>
                                            <tr>
                                                <th data-lang="Product Name"></th>
                                                <th data-lang="Annual Capacity"></th>
                                            </tr>
                                            <tr>
                                                <td>##</td>
                                                <td>##</td>
                                            </tr>
                                            <tr>
                                                <td>##</td>
                                                <td>##</td>
                                            </tr>
                                            <tr>
                                                <td>##</td>
                                                <td>##</td>
                                            </tr>
                                            <tr>
                                                <td>##</td>
                                                <td>##</td>
                                            </tr>
                                            <tr>
                                                <td>##</td>
                                                <td>##</td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                            <div class="w-50 p-0">
                                <table>
                                            <caption data-lang="Renovations Obtained by the Project"></caption>
                                            <tbody>
                                                <tr>
                                                    <th data-lang="Renewal Decision Number"></th>
                                                    <th data-lang="Renewal Decision Date"></th>
                                                    <th data-lang="Renewal"></th>
                                                </tr>
                                                <tr>
                                                    <td>##</td>
                                                    <td>##</td>
                                                    <td>##</td>
                                                </tr>
                                                <tr>
                                                    <td>##</td>
                                                    <td>##</td>
                                                    <td>##</td>
                                                </tr>
                                                <tr>
                                                    <td>##</td>
                                                    <td>##</td>
                                                    <td>##</td>
                                                </tr>
                                                <tr>
                                                    <td>##</td>
                                                    <td>##</td>
                                                    <td>##</td>
                                                </tr>
                                                <tr>
                                                    <td>##</td>
                                                    <td>##</td>
                                                    <td>##</td>
                                                </tr>
                                            </tbody>
                                        </table>
                            </div>
                        </div>
                    </div>
                    <div class="table-wrapper c-scroll vertical-scroll">
                        <div class="d-flex">
                            <div class="w-50 p-0">
                                <table>
                                    <caption data-lang="Additions Obtained by the Project"></caption>
                                    <tbody>
                                        <tr>
                                            <th data-lang="Addendum Decision Number"></th>
                                            <th data-lang="Addendum Date"></th>
                                            <th data-lang="Addendum Type"></th>
                                        </tr>
                                        <tr>
                                            <td>##</td>
                                            <td>##</td>
                                            <td>##</td>
                                        </tr>
                                        <tr>
                                            <td>##</td>
                                            <td>##</td>
                                            <td>##</td>
                                        </tr>
                                        <tr>
                                            <td>##</td>
                                            <td>##</td>
                                            <td>##</td>
                                        </tr>
                                        <tr>
                                            <td>##</td>
                                            <td>##</td>
                                            <td>##</td>
                                        </tr>
                                        <tr>
                                            <td>##</td>
                                            <td>##</td>
                                            <td>##</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="w-50 p-0">
                                <table>
                                    <caption data-lang="Modifications Obtained by the Project"></caption>
                                    <tbody>
                                        <tr>
                                            <th data-lang="Modification Decision Number"></th>
                                            <th data-lang="Modification Decision Date"></th>
                                            <th data-lang="Modification Type"></th>
                                        </tr>
                                        <tr>
                                            <td>##</td>
                                            <td>##</td>
                                            <td>##</td>
                                        </tr>
                                        <tr>
                                            <td>##</td>
                                            <td>##</td>
                                            <td>##</td>
                                        </tr>
                                        <tr>
                                            <td>##</td>
                                            <td>##</td>
                                            <td>##</td>
                                        </tr>
                                        <tr>
                                            <td>##</td>
                                            <td>##</td>
                                            <td>##</td>
                                        </tr>
                                        <tr>
                                            <td>##</td>
                                            <td>##</td>
                                            <td>##</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="table-wrapper c-scroll vertical-scroll">
                        <table>
                            <caption data-lang="Production Inputs Obtained by the Project"></caption>
                            <tbody>
                                <tr>
                                    <th data-lang="For Year"></th>
                                    <th data-lang="For Class"></th>
                                    <th data-lang="Input Certificate Number"></th>
                                    <th data-lang="Production Inputs Cost"></th>
                                    <th data-lang="Customs Declaration Number"></th>
                                    <th data-lang="Customs Declaration Date"></th>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-wrapper c-scroll vertical-scroll">
                        <table>
                            <caption data-lang="Additions Obtained by the Project to Production Inputs"></caption>
                            <tbody>
                                <tr>
                                    <th data-lang="For Year"></th>
                                    <th data-lang="For Class"></th>
                                    <th data-lang="Input Certificate Number"></th>
                                    <th data-lang="Production Inputs Cost"></th>
                                    <th data-lang="Customs Declaration Number"></th>
                                    <th data-lang="Customs Declaration Date"></th>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-wrapper c-scroll vertical-scroll">
                        <table>
                            <caption data-lang="Tax Exemption Certificates Obtained by the Project"></caption>
                            <tbody>
                                <tr>
                                    <th data-lang="Certificate Number"></th>
                                    <th data-lang="Published at"></th>
                                    <th data-lang="For Year"></th>
                                    <th data-lang="For Duration (From)"></th>
                                    <th data-lang="For Duration (To)"></th>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                                <tr>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                    <td>##</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>