@{
    ViewData["page_title_data_lang"] = "Service Data Input";
    ViewData["ViewName"] = "ServicesInput";
    ViewData["Controller"] = "Home";
}

<div class="container-xxl flex-grow-1 container-p-y content-area">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form onSubmit="return false">
                        <div class="row g-3 px-3">
                            <div class="col-12 row g-3 box-of-inputs">
                                <div class="content-header mt-0 mb-1">
                                    <h6 class="mb-0" data-lang="Services"></h6>
                                </div>
                                <div class="form-repeater">
                                    <div data-repeater-list="group-a">
                                    <div data-repeater-item>
                                        <div class="row">
                                        <div class="mb-3 col-lg-6 col-xl-4 col-12 mb-0">
                                            <label class="form-label" for="form-repeater-1-1" data-lang="Service Name"></label>
                                            <input type="text" id="form-repeater-1-1" class="form-control" placeholder="##" />
                                        </div>
                                        <div class="mb-3 col-lg-6 col-xl-2 col-12 mb-0">
                                            <label class="form-label" for="form-repeater-1-2" data-lang="Duration in Days"></label>
                                            <input type="number" id="form-repeater-1-2" class="form-control" value="0" min="0" />
                                        </div>
                                        <div class="mb-3 col-lg-6 col-xl-2 col-12 mb-0 contains-other-option">
                                            <label class="form-label" for="form-repeater-1-3" data-lang="Office"></label>
                                            <select class="form-select" id="form-repeater-1-3" aria-label="Office">
                                                <option value="" selected data-lang="Environment Office"></option>
                                                <option value="" data-lang="Passport Office"></option>
                                                <option value="" data-lang="Trade and Industry Office"></option>
                                            </select>
                                        </div>
                                        <div class="mb-3 col-lg-6 col-xl-2 col-12 mb-0">
                                            <label class="form-label" for="form-repeater-1-4" data-lang="Primary Service"></label>
                                            <select class="form-select" id="form-repeater-1-4" aria-label="Primary Service">
                                                <option value="" selected data-lang="Environment Office"></option>
                                                <option value="" data-lang="Passport Office"></option>
                                                <option value="" data-lang="Trade and Industry Office"></option>
                                            </select>
                                        </div>
                                        <div class="mb-3 col-lg-12 col-xl-2 col-12 d-flex align-items-center mb-0">
                                            <button class="btn btn-label-danger mt-4" data-repeater-delete>
                                            <i class="bx bx-x me-1"></i>
                                            <span class="align-middle" data-lang="Delete"></span>
                                            </button>
                                        </div>
                                        </div>
                                        <hr>
                                    </div>
                                    </div>
                                    <div class="mb-0">
                                    <button class="btn btn-primary" data-repeater-create>
                                        <i class="bx bx-plus me-1"></i>
                                        <span class="align-middle" data-lang="Add"></span>
                                    </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 row g-3 box-of-inputs">
                                <div class="content-header mt-0 mb-1">
                                    <h6 class="mb-0" data-lang="Services Procedures"></h6>
                                </div>
                                <div class="form-repeater">
                                    <div data-repeater-list="group-a">
                                    <div data-repeater-item>
                                        <div class="row">
                                        <div class="mb-3 col-lg-6 col-xl-4 col-12 mb-0">
                                            <label class="form-label" for="form-repeater-1-1" data-lang="Procedure"></label>
                                            <input type="text" id="form-repeater-1-1" class="form-control" placeholder="##" />
                                        </div>
                                        <div class="mb-3 col-lg-6 col-xl-2 col-12 mb-0">
                                            <label class="form-label" for="form-repeater-1-2" data-lang="Primary Procedure"></label>
                                            <select class="form-select" id="form-repeater-1-2" aria-label="Primary Procedure">
                                                <option value="" selected data-lang="Procedure 1"></option>
                                                <option value="" data-lang="Procedure 2"></option>
                                                <option value="" data-lang="Procedure 3"></option>
                                            </select>
                                        </div>
                                        <div class="mb-3 col-lg-6 col-xl-2 col-12 mb-0">
                                            <label class="form-label" for="form-repeater-1-2" data-lang="Duration in Days"></label>
                                            <input type="number" id="form-repeater-1-2" class="form-control" value="0" min="0" />
                                        </div>
                                        <div class="mb-3 col-lg-6 col-xl-2 col-12 mb-0">
                                            <label class="form-label" for="form-repeater-1-3" data-lang="Service"></label>
                                            <select class="form-select" id="form-repeater-1-3" aria-label="Service">
                                                <option value="" selected data-lang="Service 1"></option>
                                                <option value="" data-lang="Service 2"></option>
                                                <option value="" data-lang="Service 3"></option>
                                            </select>
                                        </div>
                                        <div class="mb-3 col-lg-12 col-xl-2 col-12 d-flex align-items-center mb-0">
                                            <button class="btn btn-label-danger mt-4" data-repeater-delete>
                                            <i class="bx bx-x me-1"></i>
                                            <span class="align-middle" data-lang="Delete"></span>
                                            </button>
                                        </div>
                                        </div>
                                        <hr>
                                    </div>
                                    </div>
                                    <div class="mb-0">
                                    <button class="btn btn-primary" data-repeater-create>
                                        <i class="bx bx-plus me-1"></i>
                                        <span class="align-middle" data-lang="Add"></span>
                                    </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 row g-3 box-of-inputs">
                                <div class="content-header mt-0 mb-1">
                                    <h6 class="mb-0" data-lang="Services Terms"></h6>
                                </div>
                                <div class="form-repeater">
                                    <div data-repeater-list="group-a">
                                    <div data-repeater-item>
                                        <div class="row">
                                        <div class="mb-3 col-lg-6 col-xl-7 col-12 mb-0">
                                            <label class="form-label" for="form-repeater-1-1" data-lang="Term"></label>
                                            <input type="text" id="form-repeater-1-1" class="form-control" placeholder="##" />
                                        </div>
                                        <div class="mb-3 col-lg-4 col-xl-3 col-12 mb-0">
                                            <label class="form-label" for="form-repeater-1-2" data-lang="Service"></label>
                                            <select class="form-select" id="form-repeater-1-2" aria-label="Service">
                                                <option value="" selected data-lang="Service 1"></option>
                                                <option value="" data-lang="Service 2"></option>
                                                <option value="" data-lang="Service 3"></option>
                                            </select>
                                        </div>
                                        <div class="mb-3 col-lg-2 col-xl-2 col-12 d-flex align-items-center mb-0">
                                            <button class="btn btn-label-danger mt-4" data-repeater-delete>
                                            <i class="bx bx-x me-1"></i>
                                            <span class="align-middle" data-lang="Delete"></span>
                                            </button>
                                        </div>
                                        </div>
                                        <hr>
                                    </div>
                                    </div>
                                    <div class="mb-0">
                                    <button class="btn btn-primary" data-repeater-create>
                                        <i class="bx bx-plus me-1"></i>
                                        <span class="align-middle" data-lang="Add"></span>
                                    </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 row g-3 box-of-inputs">
                                <div class="content-header mt-0 mb-1">
                                    <h6 class="mb-0" data-lang="Service Required Documents"></h6>
                                </div>
                                <div class="form-repeater">
                                    <div data-repeater-list="group-a">
                                    <div data-repeater-item>
                                        <div class="row">
                                        <div class="mb-3 col-lg-5 col-xl-5 col-12 mb-0">
                                            <label class="form-label" for="form-repeater-1-2" data-lang="Service"></label>
                                            <select class="form-select" id="form-repeater-1-2" aria-label="Service">
                                                <option value="" selected data-lang="Service 1"></option>
                                                <option value="" data-lang="Service 2"></option>
                                                <option value="" data-lang="Service 3"></option>
                                            </select>
                                        </div>
                                        <div class="mb-3 col-lg-5 col-xl-5 col-12 mb-0">
                                            <label class="form-label" for="form-repeater-1-2" data-lang="Document Type"></label>
                                            <select class="form-select" id="form-repeater-1-2" aria-label="Service">
                                                <option value="" selected data-lang="Document 1"></option>
                                                <option value="" data-lang="Document 2"></option>
                                                <option value="" data-lang="Document 3"></option>
                                            </select>
                                        </div>
                                        <div class="mb-3 col-lg-2 col-xl-2 col-12 d-flex align-items-center mb-0">
                                            <button class="btn btn-label-danger mt-4" data-repeater-delete>
                                            <i class="bx bx-x me-1"></i>
                                            <span class="align-middle" data-lang="Delete"></span>
                                            </button>
                                        </div>
                                        </div>
                                        <hr>
                                    </div>
                                    </div>
                                    <div class="mb-0">
                                    <button class="btn btn-primary" data-repeater-create>
                                        <i class="bx bx-plus me-1"></i>
                                        <span class="align-middle" data-lang="Add"></span>
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>